<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<meta charset="utf-8">

<title>{{ site.title }}</title>
 
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">

{% include graphs.html %}

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Type -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic" rel='stylesheet' type='text/css' />
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.url }}/assets/css/entypo.css" media="all">




<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/i.css">

<!-- Fresh Squeezed jQuery -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<meta http-equiv="cleartype" content="on">

<!-- Load Modernizr -->
<script src="{{ site.url }}/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>


<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">

<div id="bump">
  <body class="">
    <header class="site-header">
      <div class="wrap">
        <hgroup>
          <h1><a href="/">{{ site.title }}</a></h1>
        </hgroup>
        <a href="#nav" class="menu"><span class='icons'>☰</span></a>
        <nav role="navigation">
          <ul>
            
           {% for item in site.links[page.lang] %}
              <!--{{ item[1].title }} -->
              <li><a href="{% if item[1].external %}{{ item[1].url }}{% else %}{{ site.url }}{{ item[1].url }}{% endif %}" {% if item[1].external %}target="_blank"{% endif %}>{{ item[1].title }}</a></li>
           {% endfor %}
  
           
           {% for things in site.fake_loop %} 
              <li>  <p style="display:inline; font-size: 16px; border-style: solid" id="demo" ></p> </li>
           {% endfor %}
           
           
           <div id="language" pagelang="{{ page.lang }}" />
           
           <script>
           var thing = document.getElementById("language"), pagelang;
           pagelang = thing.getAttribute("pagelang");
           if (pagelang === "it") {
              reverse = "<a href='/'>[ENGLISH]</a>";
              link = "/"
              lang = "EN"
           } else {
              reverse = "<a href='/casa'>[ITALIANO]</a>";
              link = "/casa"
              lang = "IT"
           }
           document.getElementById("demo").innerHTML = reverse;
           document.getElementById("switchlink").innerHTML = link;
           document.getElementById("switchlang").innerHTML = lang;
           </script>
           
           

          </ul>
        </nav>
      </div>
    </header>
   
   
