<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<meta charset="utf-8">

<title>{{ site.title }}</title>
 
 <!-- mod title
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title[page.lang] }}</title>
  -->
 
 <!-- mod title
 <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title[page.lang] | escape }}{% endif %}</title>
 -->
 
 <!-- original title
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
 -->
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">

{% include graphs.html %}

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Type -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic" rel='stylesheet' type='text/css' />
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.url }}/assets/css/entypo.css" media="all">

<!-- In order to use Calendas Plus, you must first purchase it. Then, create a font-face package using FontSquirrel.
<link rel='stylesheet' href='{{ site.url }}/assets/cal.css' media='all' />
-->



<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/i.css">

<!-- Fresh Squeezed jQuery -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<meta http-equiv="cleartype" content="on">

<!-- Load Modernizr -->
<script src="{{ site.url }}/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>


<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">

<div id="bump">
  <body class="">
    <header class="site-header">
      <div class="wrap">
        <hgroup>
          <h1><a href="/">{{ site.title }}</a></h1>
        </hgroup>
        <a href="#nav" class="menu"><span class='icons'>☰</span></a>
        <nav role="navigation">
          <ul>
           <!--
           <li>
              <a href="/" title="{{ site.title }}">Home</a>
            </li>
            -->
            
           {% for item in site.links[page.lang] %}
              <!--{{ item[1].title }} -->
              <li><a href="{% if item[1].external %}{{ item[1].url }}{% else %}{{ site.url }}{{ item[1].url }}{% endif %}" {% if item[1].external %}target="_blank"{% endif %}>{{ item[1].title }}</a></li>
           {% endfor %}
            <!-- original loop
            {% for link in site.links %}
                <li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
            {% endfor %}
            -->
           
           <!--
           {% for idiom in site.languages %}
              <li>{{ idiom[1].short }}</li>
           {% endfor %}
           -->
           
           {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
           {% for page in pages %} 
              <li><a href="{{ page.url | prepend: site.url }}" class="{{ page.lang }}">{{ page.lang }}</a> </li>
           {% endfor %}
           
           <!--

              {% for language in page.lang %}
              <li> <a href="{{ page.url | prepend: site.url }}" class="{{ page.[site.languages.[language].switchshort] }}">{{ site.languages.[language].switch }} </a></li>
              {% endfor %}


            -->
           
           <!--
           <script>
           if (4 < 0.5) {
              text = "<a href='https://w3schools.com'>Visit W3Schools</a>";
           } else {
              text = "<a href='http://wwf.org'>Visit WWF</a>";
           }
           document.getElementById("demo").innerHTML = text;
           </script>
           -->
           
           <!--
           <p style="display:inline" id="demo" ></p>
           
           <p id="demo" ></p>
           -->
           <!--
           <li> <p style="display:inline" class="header.site-header.li" id="demo" ></p> </li>
           -->
           
           

           <div id="language" pagelang="{{ page.lang }}" />
           
           <p id="demo" ></p>
           
           <script>
           var thing = document.getElementById("language"), pagelang;
           pagelang = thing.getAttribute("pagelang");
           if (pagelang = "it") {
              reverse = "omg it's italian";
           } else {
              reverse = "english innit";
           }
           document.getElementById("demo").innerHTML = reverse;
           </script>
           
           <!--
           <script>
           
            
           if page.lang = it {
              text = "italiano";
           } else {
              text = "english";
           }
           document.getElementById("demo").innerHTML = text;
           </script>
           
                 

          
           
           <script>
           text = "<a href='https://w3schools.com'>Visit W3Schools</a>";
           document.getElementById("demo").innerHTML = text;
           </script>
           
            -->

            <!-- test for language links
            {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for page in pages %}
               <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />
            {% endfor %}
            remove above if breaks -->

          </ul>
        </nav>
      </div>
    </header>
   
   
<!-- test 
<div class="wrapper" style="text-align: right; line-height: 2em">

  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a> {% endfor %}
</div>
-->
